@import "tailwindcss";

@theme {
  --color-agrigreen-50: #f0fdf4;
  --color-agrigreen-100: #dcfce7;
  --color-agrigreen-500: #22c55e;
  --color-agrigreen-600: #16a34a;
  --color-agrigreen-700: #15803d;
  --color-agrigreen-900: #14532d;
}
